* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.cards-container .card-hobby, .cards-container .card-pro, .cards-container .card-pro-plus {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 30px 30px;
    width: 320px;
    flex-shrink: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);

}
.cards-container .card-pro {
    box-shadow: inset 0 0 0 1px #ffffff1a, 0 2px 15px 20px #00040f4d, inset 0 0 60px #0066ff0d, 0 15px 120px #0066ff40;
}

.top {
    flex: 1;
}

.cards-container .card-hobby,
.cards-container .card-pro-plus {
    background: linear-gradient(359deg, rgba(212, 195, 254, 0.06) 0%, rgb(0, 0, 0) 100%);
}

.cards-container .card-pro-plus {
    gap: 24px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.card-divider {
    border: solid rgba(255, 255, 255, 0.1) 0.5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-price {
    font-size: 24px;
    font-weight: 400;
    color: rgb(239, 239, 239);
    margin-bottom: 20px;
}

.card-content {
    margin-bottom: 0;
}

.includes-text {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.checkmark {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 12px;
    font-weight: bold;
}

.download-button {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 999px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.download-button:hover {
    background-color: rgb(44, 44, 44);
}

.download-button:active {
    background-color: rgb(216, 214, 206);
}


.card-pro {
    background-color: rgba(255, 255, 255, 1);
    background: radial-gradient(circle at 20% 110%, rgba(0, 102, 255, 0.5) 20%, rgba(0, 22, 66, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.cards-container .card-pro .download-button {
    background-color: rgb(0, 153, 255);
}

.cards-container .card-pro .download-button:hover {
    background-color: rgb(0, 104, 179);
}
